article {
    min-width: inherit !important;
    div {
        min-width: 128px;
        max-width: 256px;
        margin: auto;
    }
    .thumbnail {
        max-width: 256px;
        max-height: 160px;
    }
    .thumbnail-area {
        position: relative;
        .play-icon {
            width: 64px;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;

            fill: var(--light);
            filter: drop-shadow(3px 3px 5px var(--dark));
        }
        &:hover {
            .play-icon {
                filter: drop-shadow(3px 3px 5px var(--light));
            }
        }
    }
}
